// @mixin naglowek
//     font-size: 100px
//     color: red 

.kadra
    background-color: $color1    
    h1
        @include naglowek()

        
    .lekarze
        width: 1053px
        margin: 0 auto
        display: flex
        justify-content: space-around
        flex-wrap: wrap
        
        .lekarz
            display: flex
            flex-direction: column
            width: 50%
            text-align: center
            // padding: 0 100px
            img
                width: 300px
                height: 300px
                margin: 0 auto
                margin-bottom: 50px
                
            span
                font-size: 50px
                
            p
                text-align: center
                padding: 0 100px

@media screen and ( max-width: 1060px )
    .kadra
        .lekarze
            width: 950px
            .lekarz
                width: 40%
                margin-bottom: 50px
    
@media screen and ( max-width: 995px )
    .kadra
        .lekarze
            width: 720px
            .lekarz
                width: 60%
@media screen and ( max-width: 750px )
    .kadra
        .lekarze
            width: 100%
            .lekarz
                width: 100%
    