.oferta
    width: 100%
    padding-top: 80px
    
    background: $color3
    h1
        @include naglowek()
     
    p
        @include podglowek()


    .uslugi
        width: 1053px
        margin: 0 auto
        display: flex
        flex-wrap: wrap
        // height: 300px
        .usluga
            width: 25%
            // height: 400px
            // background-color: $color2
            margin: 0 auto;
            margin-bottom: 100px
            display: flex
            flex-direction: column
            img
                width: 200px
                height: 200px
                margin: 0 auto
            .tekst
                color: white
                width: 60%
                margin: 0 auto 
                // text-align: justify
                text-align: center
                font-family: $czcionka2
            span
                font-size: 50px
                width: 100%
                text-align: center
                font-family: $czcionka2
                color: white
                    
                    

// @media screen and ( max-width: 992px )
//     .oferta
//         .uslugi
//             .usluga
//                     width: 350px

@media screen and ( max-width: 1160px )
    .oferta
        .uslugi
            width: 950px
            .usluga
                width: 40%

@media screen and ( max-width: 995px  )
    .oferta
        .uslugi
            width: 720px
            .usluga
                width: 52%
                margin-bottom: 50px
    
@media screen and ( max-width: 750px  )
    .oferta
        .uslugi
            width: 100%
    