$color1 : #8d60aa
$color2 : #bb9eca
$color3: #9b68bd
$color4: #8a5ca8
$colortop: #222
$colorli: $color1
$colorul: pink
$colormenu: #502f66

$czcionka1: 'Rowdies', cursive;
$czcionka2: 'Sriracha', cursive;


   
@mixin naglowek
    font-size: 5rem
    color: white 
    // height: 200px
    // margin-bottom: 100px
    font-family: $czcionka1
    text-align: center
    text-transform: uppercase
    line-height: 100%

@mixin podglowek
    font-size: 1.5rem
    color: white
    font-family: $czcionka2
    width: 100%
    text-align: center
    margin-bottom: 4rem



@media screen and ( max-width: 1300px )
    html
        font-size: 14px
    
@media screen and ( max-width: 1095px )
    html
        font-size: 12px
   

@media screen and ( max-width: 520px )
    html
        font-size: 10px

@media screen and ( max-width: 400px )
    html
        font-size: 8px