* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

*:focus {
  outline: 0 !important;
}

nav {
  background-color: #2e2929;
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 100;
  -webkit-transition: 1s;
  transition: 1s;
}

nav .logo {
  color: white;
  font-size: 35px;
  line-height: 120px;
  padding: 0 100px;
  -webkit-transition: 1s;
  transition: 1s;
}

nav ul {
  float: right;
  margin-right: 20px;
  line-height: 120px;
  -webkit-transition: 1s;
  transition: 1s;
}

nav ul li {
  display: inline;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

nav ul li a:hover {
  background-color: #8d60aa;
  -webkit-transition: .5s;
  transition: .5s;
}

nav ul li .active {
  background-color: #8d60aa;
}

nav .checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

nav #check {
  display: none;
}

@media screen and (max-width: 952px) {
  nav .logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media screen and (max-width: 858px) {
  nav label i {
    -webkit-transition: 1s;
    transition: 1s;
  }
  nav .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #502f66;
    opacity: 0.99;
    top: 120px;
    left: -100%;
    text-align: center;
    -webkit-transition: all 1s;
    transition: all 1s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  nav #check:checked ~ ul {
    left: 0;
  }
}

.top {
  min-height: 800px;
  height: 100vh;
  width: 100%;
  background-color: #8d60aa;
  position: relative;
}

.napis {
  width: 100%;
  text-align: center;
  height: 20vh;
  font-size: 100px;
  font-family: "Rowdies", cursive;
  text-transform: uppercase;
  color: white;
}

.photo {
  width: 100%;
  height: 600px;
  padding-top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.photo img {
  width: 400px;
  height: 400px;
}

.down {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: down;
      -ms-flex-align: down;
          align-items: down;
}

.down i {
  color: white;
  position: fixed;
  bottom: 10px;
  display: none;
}

.oferta {
  width: 100%;
  padding-top: 80px;
  background: #9b68bd;
}

.oferta h1 {
  font-size: 100px;
  color: white;
  font-family: "Rowdies", cursive;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}

.oferta p {
  font-size: 20px;
  color: white;
  font-family: "Sriracha", cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.oferta .uslugi {
  width: 1053px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.oferta .uslugi .usluga {
  width: 25%;
  margin: 0 auto;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.oferta .uslugi .usluga img {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.oferta .uslugi .usluga .tekst {
  color: white;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-family: "Sriracha", cursive;
}

.oferta .uslugi .usluga span {
  font-size: 50px;
  width: 100%;
  text-align: center;
  font-family: "Sriracha", cursive;
  color: white;
}

@media screen and (max-width: 1160px) {
  .oferta .uslugi {
    width: 950px;
  }
  .oferta .uslugi .usluga {
    width: 40%;
  }
}

@media screen and (max-width: 995px) {
  .oferta .uslugi {
    width: 720px;
  }
  .oferta .uslugi .usluga {
    width: 52%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 750px) {
  .oferta .uslugi {
    width: 100%;
  }
}

.kadra {
  background-color: #8d60aa;
  padding-top: 80px;
}

.kadra h1 {
  font-size: 100px;
  color: white;
  font-family: "Rowdies", cursive;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}

.kadra p {
  font-size: 20px;
  color: white;
  font-family: "Sriracha", cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.kadra .lekarze {
  width: 1053px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kadra .lekarze .lekarz {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  text-align: center;
}

.kadra .lekarze .lekarz img {
  width: 300px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.kadra .lekarze .lekarz span {
  font-size: 50px;
  font-family: "Sriracha", cursive;
  color: white;
}

.kadra .lekarze .lekarz p {
  text-align: center;
  padding: 0 100px;
}

@media screen and (max-width: 1060px) {
  .kadra .lekarze {
    width: 950px;
  }
  .kadra .lekarze .lekarz {
    width: 40%;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 995px) {
  .kadra .lekarze {
    width: 720px;
  }
  .kadra .lekarze .lekarz {
    width: 60%;
  }
}

@media screen and (max-width: 750px) {
  .kadra .lekarze {
    width: 100%;
  }
  .kadra .lekarze .lekarz {
    width: 100%;
  }
}

.cennik {
  background-color: #9b68bd;
  padding-top: 80px;
}

.cennik h1 {
  font-size: 100px;
  color: white;
  font-family: "Rowdies", cursive;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}

.cennik p {
  font-size: 20px;
  color: white;
  font-family: "Sriracha", cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.cennik .ceny {
  width: 1053px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.cennik .ceny .opakcen {
  width: 30%;
  height: 350px;
}

.cennik .ceny .opakcen .cena {
  margin: 0 auto;
  position: relative;
  height: 200px;
  width: 200px;
  background-color: #bb9eca;
}

.cennik .ceny .opakcen .cena:before {
  content: '';
  position: absolute;
  top: -70px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-bottom: 70px solid #bb9eca;
}

.cennik .ceny .opakcen .cena::after {
  content: '';
  position: absolute;
  left: 50%;
  top: -20px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #9b68bd;
}

.cennik .ceny .opakcen ul {
  font-size: 25px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.cennik .ceny .opakcen ul li {
  list-style: none;
  width: 90%;
  height: 60px;
  border-bottom: 1px dashed #8d60aa;
  margin: 0 auto;
  color: white;
}

.cennik .ceny .opakcen ul li:nth-child(1) {
  line-height: 100%;
  padding-top: 20px;
  font-size: 28px;
}

.cennik .ceny .opakcen ul span {
  color: #8d60aa;
  opacity: .6;
}

@media screen and (max-width: 1160px) {
  .cennik .ceny {
    width: 950px;
  }
}

@media screen and (max-width: 995px) {
  .cennik .ceny {
    width: 720px;
  }
  .cennik .ceny .opakcen {
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .cennik .ceny {
    width: 100%;
  }
  .cennik .ceny .opakcen {
    width: 60%;
  }
}

.kontakt {
  background-color: #8d60aa;
  padding-top: 80px;
}

.kontakt h1 {
  font-size: 100px;
  color: white;
  font-family: "Rowdies", cursive;
  text-align: center;
  text-transform: uppercase;
  line-height: 100%;
}

.kontakt p {
  font-size: 20px;
  color: white;
  font-family: "Sriracha", cursive;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
}

.kontakt .kontakty {
  width: 1053px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #8d60aa;
}

.kontakt .kontakty .dane {
  width: 25%;
  height: 100px;
  background-color: #8d60aa;
  position: relative;
  color: white;
  text-align: center;
}

.kontakt .kontakty .dane i {
  font-size: 40px;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 0;
}

.kontakt .kontakty .dane p {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  color: white;
  padding: 0;
  margin: 0;
}

.kontakt .sendmsg {
  width: 1053px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.kontakt .sendmsg .message {
  font-size: 15px;
  width: 40%;
  height: 500px;
  background-color: #8d60aa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.kontakt .sendmsg .message .name {
  width: 100%;
  height: 50px;
  position: relative;
  overflow: hidden;
}

.kontakt .sendmsg .message .name .form_field {
  width: 100%;
  height: 100%;
  padding-top: 10px;
  font-size: 20px;
  border: none;
  background-color: #8d60aa;
  color: white;
  cursor: pointer;
}

.kontakt .sendmsg .message .name .form_field:focus + .form_label .content_name, .kontakt .sendmsg .message .name .form_field:valid + .form_label .content_name {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

.kontakt .sendmsg .message .name .form_field:focus + .form_label::after, .kontakt .sendmsg .message .name .form_field:valid + .form_label::after {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.kontakt .sendmsg .message .name .form_label {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid white;
  cursor: pointer;
}

.kontakt .sendmsg .message .name .form_label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  border-bottom: 2px solid white;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.kontakt .sendmsg .message .name .form_label .content_name {
  position: absolute;
  bottom: 10px;
  left: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: white;
  opacity: 0.6;
}

.kontakt .sendmsg .message .textcontent {
  width: 100%;
}

.kontakt .sendmsg .message .textcontent .textarea {
  width: 99.4%;
  height: 200px;
  background-color: #8d60aa;
  border: none;
  color: white;
  background-color: #bb9eca;
}

.kontakt .sendmsg .message .textcontent .textarea::-webkit-input-placeholder {
  color: white;
  opacity: 0.6;
}

.kontakt .sendmsg .message .textcontent .textarea:-ms-input-placeholder {
  color: white;
  opacity: 0.6;
}

.kontakt .sendmsg .message .textcontent .textarea::-ms-input-placeholder {
  color: white;
  opacity: 0.6;
}

.kontakt .sendmsg .message .textcontent .textarea::placeholder {
  color: white;
  opacity: 0.6;
}

.kontakt .sendmsg .message .textcontent .formessage {
  color: white;
  opacity: .7;
}

.kontakt .sendmsg .message .textcontent input {
  width: 10%;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.kontakt .sendmsg .map {
  width: 40%;
  height: 500px;
  margin-top: 50px;
}

@media screen and (max-width: 1053px) {
  .kontakt .kontakty {
    width: 950px;
  }
  .kontakt .sendmsg {
    width: 950px;
  }
}

@media screen and (max-width: 995px) {
  .kontakt .kontakty {
    width: 720px;
  }
  .kontakt .sendmsg {
    width: 720px;
  }
  .kontakt .sendmsg .message {
    width: 80%;
  }
  .kontakt .sendmsg .map {
    width: 80%;
    height: 400px;
  }
}

@media screen and (max-width: 750px) {
  .kontakt .kontakty {
    width: 100%;
  }
  .kontakt .kontakty .dane {
    width: 52%;
    margin-bottom: 35px;
  }
  .kontakt .sendmsg {
    width: 100%;
  }
}

.bottom {
  width: 100%;
  height: 70px;
  background-color: #2e2929;
  font-size: 10px;
  color: white;
  padding-left: 20px;
}

.bottom .socialmedia {
  font-size: 40px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.bottom .socialmedia i {
  margin-right: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #8d60aa;
          box-shadow: inset 0 0 5px #8d60aa;
  background: #2e2929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #bb9eca;
  opacity: .7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #967ea2;
}

/* Handle on hover */
/*# sourceMappingURL=style.css.map */